.cleaning-poster {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -10;
  opacity: 0.8;
  /* box-shadow: inset 0 0 10px;box-shadow: inset 0 0 5px 5px olive; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0.8));
}

.services {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
